body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.user-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 20px;
}

.user-card img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    margin: 0;
}

.user-address {
    color: #888;
    margin: 0;
}

.user-price {
    margin: 0;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-card {
    width: calc(33.33% - 10px);
}

.card-text, .card-body {
    font-size: 1.5rem;
}

.card-body a {
    color: #00b3d6;
    padding-right: 0.5rem;
}

.card-body a, .card-body div {
    display: inline-block;
}

.logo {
    max-width:100%;
    margin: 1rem 0 2rem 0;
}
.twitter {
    margin: 0 auto;
}
.twitter a {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #999;
}

h2 {
    font-weight: 700!important;
    font-size: 0.8rem!important;
    color: #fff;
    background: #00b3d6;
    display: inline-block;
    border-radius: 5px;
    padding: 0.5rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3)!important;
}
