body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.user-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 20px;
}

.user-card img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    margin: 0;
}

.user-address {
    color: #888;
    margin: 0;
}

.user-price {
    margin: 0;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-card {
    width: calc(33.33% - 10px);
}

.card-text {
    font-size: 1.5rem;

}

.logo {
    max-width:100%;
}
